    .light {
    background: #FFF
}

.acc {
    background:
}

.dark {
    background: #212121
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', monospace, sans-serif;
    cursor: default;
    user-select: none
}

html, body {
    position: relative
}

a {
    text-decoration: none;
    color: #616161
}

.centered, .centered-x, .centered-y {
    position: relative;
    display: inline-block
}

.centered {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.centered-x {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.centered-y {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.vessel {
    /*background: url("reference.png");*/
    background-size: cover;
    /*background-position-y: -124px;*/
}


/*______________________________SEARCH_BAR*/

.search-vessel {
    position: fixed;
    background: #FFF;
    width: calc(100% - 8px);
    margin: 0 auto;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    z-index: 1;
}

input {
    background: transparent;
    height: 66px;
    border: 0;
    width: 40%;
    margin: 0 30%;
    color: #212121;
}

input:focus {
    outline: none
}

input::-webkit-input-placeholder {
    text-align: center;
    color: #4285f4;
    color: #000;
}

input:-ms-input-placeholder {
    text-align: center;
    color: #000;
}

input::-moz-placeholder {
    text-align: center;
    color: #000;
    opacity: 1;
}

input:-moz-placeholder {
    text-align: center;
    color: #000;
    opacity: 1;
}


/*______________________________SEARCH_BAR_END*/

.content {
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.content::-webkit-scrollbar {
    width: 8px;
    background: white;
    z-index: 100;
}

.content::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

.content::-webkit-scrollbar-thumb {
    border-radius: 50% 0 0 50%;
    background: #000;
}

.division {
    margin: 66px 0 22px 0;
}

hr {
    width: 100%;
    background-color: #000;
    height: 2px;
    border: 0;
}

.app {
    display: inline-block;
    float: left;
    text-align: center;
    max-height: 160px;
    width: calc((100vw / 5) - 2px);
    height: calc(100vw / 4);
}

.icon-vessel{
    display: inline-block;
    max-height: 100px;
    max-width: 100px;
    height: 14vw;
    width: 14vw;
    border-radius: 50%;
    overflow: hidden;
    padding: 4px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0,     0.12);

}

.app-icon {
    height: 100%;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: none!important;
}

/*.round {
    border-radius: 50%;
}*/

@media (min-width: 768) {
    .app {
        width: calc((100vw / 6) - 2px);
    }
}

@media (max-width: 319px) {
    .app {
        height: calc(100vw / 2);
        width: calc((100vw / 1) - 2px);
    }
    .icon-vessel {
        height: 40vw;
        width: 40vw;
        max-width: none;
        max-height: none;
    }
}
